<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<body>
<nav class="header_section" th:fragment="nav-bar">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" th:href="@{/}">
                <img src="images/logo.png" alt="">
                <span>
              QUIZ KIDS
            </span>
            </a>
            <!--          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
            <!--            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--            <span class="navbar-toggler-icon"></span>-->
            <!--          </button>-->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav  ">
                        <li class="nav-item active">
                            <a class="nav-link"
                               sec:authorize="isAuthenticated()"
                               th:href="@{/home}"> СТАРТ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" th:href="@{/about}"> ЗА НАС </a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" th:href="@{/users/login}"> ВХОД </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/register}"> РЕГИСТРАЦИЯ </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/contact}">КОНТАКТИ</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">
                                <th:block sec:authorize="isAuthenticated()">
                                   Welcome, <th:block sec:authentication="name"></th:block>!
                                </th:block>
                                </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                                sec:authorize="hasRole('ADMIN')"
                               th:href="@{/admin}">АДМИНИ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               sec:authorize="hasAnyRole('MODERATOR','ADMIN')"
                               th:href="@{/add-question}">ДОБАВИ ВЪПРОС</a>
                        </li>

                        <li class="nav-item">
                            <form th:method="POST"
                                  th:action="@{/users/logout}"
                            sec:authorize="isAuthenticated()">
                            <input type="submit" class="nav-link" value="ИЗХОД" style="border: none;background: transparent"></input>
                            </form>
                        </li>

                    </ul>
                </div>
                </div>
        </nav>
    </div>
</nav>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>