<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/head}"></head>

<body>
<div class="top_container error">
    <!-- header section strats -->
    <nav th:replace="~{fragments/nav-bar}"></nav>
    <section class="hero_section ">
        <div class="hero-container container">
            <div class="hero_detail-box">
                <h1 class="text-danger">500:</h1>
                <h1>Опа,
                    <br>
                    При нас нещо се обърка!
                    Върнете се назад и ни оставете обратна връзка!
                </h1>

                <div class="hero_btn-continer">
                    <a th:href="@{/home}" class="call_to-btn btn_white-border">
              <span>
                Върни се в началото!
              </span>
                    </a>
                </div>
            </div>
            <div class="hero_img-container">
                <img src="/images/broken-window2.png" style="object-fit: contain">
            </div>
        </div>

    </section>
</div>

<footer th:replace="~{fragments/footer}"></footer>

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>

</html>