<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>


<head th:replace = "~{fragments/head}"></head>
<body>
<div class="top_container sub_pages">
    <!-- header section strats -->
    <nav th:replace = "~{fragments/nav-bar}"></nav>
</div>
<!-- end header section -->

<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
        <h2 class="main-heading ">
            QUIZ KIDS
        </h2>
        <p class="text-center" style="font-weight: 600">
            Предствяме ви Куиз игра за деца на възраст между 6-9 години.
            Играта е създадена като проект за обучението на автора Николай Петков.
            <br>
            Ето няколко думи от автора:
            "Създадох тази игра вдъхновен от дъщеря си Ивайла и нейните безброй енциклопедии вкъщи, и последващи въпроси.
            Многократно имах затруднения да и обясня елементарни въпроси от нейна страна. След като прочетохме в енциклопедиите и двамата останахме изненадани."

            Играта е подходяща, както за малки така и за големи. Ще ви предложим множество интересни въпроси и още по интересни отговори свързани с различни теми.
        </p>
        <div class="about_img-box ">
            <img src="images/kids.jpg" alt="" class="img-fluid w-100">
        </div>
        <div class="d-flex justify-content-center mt-5">
            <a href="" class="call_to-btn  ">

          <span>
            Read More
          </span>
                <img src="images/right-arrow.png" alt="">
            </a>
        </div>
    </div>
</section>


<div th:replace="~{fragments/footer}"></div>

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>

</script>
</body>

</html>