<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/head}">
<body class="top_container">
<nav th:replace="~{fragments/nav-bar}"></nav>
<body>
<div class="container" style="max-width: 65%">
    <h2 class="mt-4 mb-3">Question Form</h2>
    <form
            th:action="@{/question/add}"
            th:method="POST"
            th:object="${addQuestionBindingModel}"
            >
        <div class="form-group">
            <label for="question">QUESTION:</label>
            <input th:field="*{content}"
                   th:errorclass="is-invalid"
                   type="text" class="form-control" id="question" name="question">
            <p class="invalid-feedback errors alert alert-danger">
                Question length must be between 2 and 50 characters!
            </p>
        </div>
        <div class="form-group"
             th:each="answer, itemStat : *{answers}">
            <label th:if= "${itemStat.index == 0}" for="correctAnswer">CORRECT ANSWER:</label>
            <label th:unless="${itemStat.index != 0}" for="correctAnswer">INCORRECT ANSWER:</label>
            <input
                    th:errorclass="is-invalid"
                    th:field="*{answers[__${itemStat.index}__].content}"
                    type="text" class="form-control" id="correctAnswer" name="correctAnswer">
            <p class="invalid-feedback errors alert alert-danger">
                Answer length must be between 2 and 50 characters!
            </p>
        </div>
<!--        <div class="form-group">-->
<!--            <label for="incorrectAnswer1">INCORRECT ANSWER 1:</label>-->
<!--            <input-->
<!--                    th:field="*{answers}"-->
<!--                    th:errorclass="is-invalid"-->
<!--                    type="text" class="form-control" id="incorrectAnswer1" name="incorrectAnswer1">-->
<!--            <p class="invalid-feedback errors alert alert-danger">-->
<!--                Answer length must be between 2 and 50 characters!-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="incorrectAnswer2">INCORRECT ANSWER 2:</label>-->
<!--            <input th:field="*{answers}"-->
<!--                   th:errorclass="is-invalid"-->
<!--                   type="text" class="form-control" id="incorrectAnswer2" name="incorrectAnswer2">-->
<!--            <p class="invalid-feedback errors alert alert-danger">-->
<!--                Answer length must be between 2 and 50 characters!-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="incorrectAnswer3">INCORRECT ANSWER 3:</label>-->
<!--            <input th:field="*{answers}"-->
<!--                   th:errorclass="is-invalid"-->
<!--                    type="text" class="form-control" id="incorrectAnswer3" name="incorrectAnswer3">-->
<!--            <p class="invalid-feedback errors alert alert-danger">-->
<!--                Answer length must be between 2 and 50 characters!-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="incorrectAnswer4">INCORRECT ANSWER 4:</label>-->
<!--            <input th:field="*{answers}"-->
<!--                   th:errorclass="is-invalid"-->
<!--                    type="text" class="form-control" id="incorrectAnswer4" name="incorrectAnswer4">-->
<!--            <p class="invalid-feedback errors alert alert-danger">-->
<!--                Answer length must be between 2 and 50 characters!-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="incorrectAnswer5">INCORRECT ANSWER 5:</label>-->
<!--            <input -->
<!--                   th:errorclass="is-invalid"-->
<!--                    type="text" class="form-control" id="incorrectAnswer5" name="incorrectAnswer5">-->
<!--            <p class="invalid-feedback errors alert alert-danger">-->
<!--                Answer length must be between 2 and 50 characters!-->
<!--            </p>-->
<!--        </div>-->
        <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control"
                    id="category"
                    name="category"
            >
                <option th:each="c : ${T(bg.softuni.quizkids.models.enums.CategoryName).values()}"
                        th:text="${c}"
                        th:value="${c}"
                        value="category1">Category 1
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Bootstrap JS and any additional scripts -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Add any additional scripts here -->
</body>

<div th:replace="~{fragments/footer}"></div>
</body>
</html>