<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/head}"></head>
<body >
<nav th:replace="~{fragments/nav-bar}"></nav>
<body>
<div class="container mt-4">
    <button class="btn btn-success btn-sm mr-2 mt-2" id="user-management-btn">LOAD ALL USERS</button>
    <button class="btn btn-danger bg-dark btn-sm mr-2 mt-2" id="user-black-list-btn">BLACK LIST</button>
    <button class="btn btn-success btn-sm mr-2 mt-2" id="user-userRole-btn">LOAD USERS</button>
    <button class="btn btn-success btn-sm mr-2 mt-2" id="user-moderatorRole-btn">LOAD MODERATORS</button>
    <button class="btn btn-success btn-sm mr-2 mt-2" id="user-adminRole-btn">LOAD ADMINS</button>
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Level</th>
            <th>Actions: Manage Users Role</th>
        </tr>
        </thead>
        <tbody id="users-container">
        <!-- Replace the following rows with actual userEntity data -->
        <tr>
<!--            <td>1</td>-->
<!--            <td>John Doe</td>-->
<!--            <td>john@example.com</td>-->
<!--            <td>ADMIN</td>-->
<!--            <td>EXPERT</td>-->
<!--            <td>-->
<!--                <button class="btn btn-warning btn-sm mr-2">Blacklist</button>-->
<!--                <button class="btn btn-success btn-sm mr-2">Remove from Blacklist</button>-->
<!--                <button class="btn btn-danger btn-sm">Make me ADMIN</button>-->
<!--                <button class="btn btn-primary btn-sm">Make me MODERATOR</button>-->
<!--            </td>-->
        </tr>
        <!-- Add more rows for additional users -->
        </tbody>
    </table>
</div>
</body>

<div th:replace="~{fragments/footer}"></div>
<script src="/js/load-all-users.js"></script>
</body>
</html>