<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/head}">
<body class="top_container login">
<nav th:replace="~{fragments/nav-bar}"></nav>

<div class="d-flex justify-content-end w-75">
    <div class="register-container  pt-xl-5">
        <form class="contact-form"
              th:action="@{/users/profile/edit/changePassword}"
              th:method="POST"
              th:object="${userChangePasswordBindingModel}">
            <p class="text-xl-center font-weight-bold">ПРОМЯНА ПАРОЛА НА ПОТРЕБИТЕЛ С ПОТРЕБИТЕЛСКО ИМЕ:
                <th:block sec:authentication="name">username</th:block>
            </p>

            <div class="form-outline mb-1">
                <label class="form-label" for="password">Стара Парола:</label>
                <input type="password"
                       id="oldPassword"
                       name="oldPassword"
                       th:field="*{oldPassword}"
                       th:errorclass="is-invalid"
                       placeholder="Въведи стара парола"
                       class="form-control"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Password length must be more than 3 characters!
                </p>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-1">
                <label class="form-label" for="password">Нова Парола:</label>
                <input type="password"
                       id="password"
                       name="password"
                       th:field="*{password}"
                       th:errorclass="is-invalid"
                       placeholder="Въведи нова парола"
                       class="form-control"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Password length must be more than 3 characters!
                </p>
            </div>

            <!-- Confirm Password input -->
            <div class="form-outline mb-1">
                <label class="form-label" for="confirmPassword">Потвърждение на парола:</label>
                <input type="password"
                       id="confirmPassword"
                       name="confirmPassword"
                       th:field="*{confirmPassword}"
                       th:errorclass="is-invalid"
                       placeholder="Въведи отново нова паролата за потвърждение"
                       class="form-control"/>
                <p th:if="${#fields.hasGlobalErrors()}"
                    class="errors alert alert-danger">Confirm password do not match!</p>
                <p class="invalid-feedback errors alert alert-danger">
                    Confirmation of password is required.
                </p>
            </div>

            <!-- Submit button -->
            <div class="form-outline mb-1 d-flex justify-content-center">
            <button type="submit" class="call_to-btn btn_white-border">Запази промени!</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{fragments/footer}">
</div>
</body>
</html>