<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/head}">
<body class="top_container">
<nav th:replace="~{fragments/nav-bar}"></nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="card shadow-sm" style="width: 400px">
                        <img src="images/tree-sunset.jpg" class="img-card-container card-img-top img-fluid"
                             alt="Image 2">
                        <div class="card-body text-light text-center position-absolute top-50 start-50 translate-middle">
                            <h5 class="card-title" style="font-weight: 600; color: darkblue">БИОЛОГИЯ</h5>
                            <p class="card-text" style="font-weight: 600; color: darkblue">Description or additional
                                info about the link.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="card shadow-sm" style="width: 400px">
                        <img src="images/planet-earth.jpg" class="img-card-container card-img-top img-fluid"
                             alt="Image 2">
                        <div class="card-body text-light text-center position-absolute top-50 start-50 translate-middle">
                            <h5 class="card-title" style="font-weight: 600; color: darkblue">ГЕОГРАФИЯ</h5>
                            <p class="card-text" style="font-weight: 600; color: darkblue">Description or additional
                                info about the link.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a th:href="@{/play/MATH}" class="text-decoration-none">
                    <div class="card shadow-sm" style="width: 400px">
                        <img src="images/tree-sunset.jpg" class="img-card-container card-img-top img-fluid"
                             alt="Image 2">
                        <div class="card-body text-light text-center position-absolute top-50 start-50 translate-middle">
                            <h5 class="card-title" style="font-weight: 600; color: darkblue">МАТЕМАТИКА</h5>
                            <p class="card-text" style="font-weight: 600; color: darkblue">Description or additional
                                info about the link.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="card shadow-sm" style="width: 400px">
                        <img src="images/planet-earth.jpg" class="img-card-container card-img-top img-fluid"
                             alt="Image 2">
                        <div class="card-body text-light text-center position-absolute top-50 start-50 translate-middle">
                            <h5 class="card-title" style="font-weight: 600; color: darkblue">АСТРОНОМИЯ И КОСМИС</h5>
                            <p class="card-text" style="font-weight: 600; color: darkblue">Description or additional
                                info about the link.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="card shadow-sm" style="width: 400px">
                        <img src="images/planet-earth.jpg" class="img-card-container card-img-top img-fluid"
                             alt="Image 2">
                        <div class="card-body text-light text-center position-absolute top-50 start-50 translate-middle">
                            <h5 class="card-title" style="font-weight: 600; color: darkblue">ЧОВЕШКОТО ТЯЛО</h5>
                            <p class="card-text" style="font-weight: 600; color: darkblue">Description or additional
                                info about the link.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="card shadow-sm" style="width: 400px; backface-visibility:visible" >
                        <img src="images/planet-earth.jpg" class="img-card-container card-img-top img-fluid"
                             alt="Image 2">
                        <div class="card-body text-light text-center position-absolute top-50 start-50 translate-middle">
                            <h5 class="card-title" style="font-weight: 600; color: darkblue">ДА СПАСИМ ЗЕМЯТА</h5>
                            <p class="card-text" style="font-weight: 600; color: darkblue">Description or additional
                                info about the link.</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Add more similar sections as needed -->
        </div>
    </div>

    <div th:replace="~{fragments/footer}"></div>
</body>
</html>