<!DOCTYPE html>
<html>

<head>
    <title>QuizKids</title>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <!-- progress barstle -->
    <link rel="stylesheet" href="css/css-circular-prog-bar.css">
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- font wesome stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/css-circular-prog-bar.css">


</head>

<body>
<div class="top_container">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="">
                    <span>
              QUIZ KIDS
            </span>
                </a>
                <!--          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
                <!--            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
                <!--            <span class="navbar-toggler-icon"></span>-->
                <!--          </button>-->

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item active">
                                <a class="nav-link" th:href="@{/}"> СТАРТ <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" th:href="@{/about}"> ЗА НАС </a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" th:href="@{/login}"> ВХОД </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/register}"> РЕГИСТРАЦИЯ </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact Us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">КОНТАКТИ</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">АДМИНИСТРАТОР</a>
                            </li>

                        </ul>
                    </div>
            </nav>
        </div>
    </header>
    <section class="hero_section ">
        <div class="hero-container container">
            <div class="hero_detail-box">
                <h3>
                    Добре дошли в <br>
                    играта с най-интересни
                    <br>въпроси
                </h3>
                <h1>
                    QUIZ KIDS
                </h1>
                <p>
                    Тук ще откриете най-интересните въпроси,
                    <br>
                    любопитни факти и много забавление.
                    <br>
                    За всички малчугани които могат да четат.
                    <br>
                    <br>
                    <span style="font-style: italic">Играта е преднзаначена за деца от
                        <br>6 до 9 години.</span>
                </p>
                <div class="hero_btn-continer">
                    <a href="" class="call_to-btn btn_white-border">
              <span>
                Contact
              </span>
                        <img src="images/right-arrow.png" alt="">
                    </a>
                </div>
            </div>
            <div class="hero_img-container">
                <div>
                    <img src="images/hero.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <section class="teacher_section layout_padding-bottom">
            <div class="container">
                                <div class="teacher_container layout_padding2">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="images/tree-sunset.jpg" alt="Card image cap">
                            <div class="card-body">
                                <div class="d-flex justify-content-center">
                                    <a href="" class="call_to-btn  ">
                                            <span>
                                                Научи повече
                                            </span>
                                        <img src="images/right-arrow.png" alt="">
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="images/tree-sunset.jpg" alt="Card image cap">
                            <div class="card-body">
                                <div class="d-flex justify-content-center">
                                    <a href="" class="call_to-btn  ">
                                            <span>
                                                Научи повече
                                            </span>
                                        <img src="images/right-arrow.png" alt="">
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="card">
                            <img class="card-img-top" src="images/tree-sunset.jpg" alt="Card image cap">
                            <div class="card-body">
                                <div class="d-flex justify-content-center">
                                    <a href="" class="call_to-btn  ">
                                            <span>
                                                Научи повече
                                            </span>
                                        <img src="images/right-arrow.png" alt="">
                                    </a>
                                </div>

                            </div>

                        </div>

                        <div class="card">
                            <img class="card-img-top" src="images/tree-sunset.jpg" alt="Card image cap">
                            <div class="card-body">
                                <div class="d-flex justify-content-center">
                                    <a href="" class="call_to-btn  ">
                                            <span>
                                                Научи повече
                                            </span>
                                        <img src="images/right-arrow.png" alt="">
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </section>
    </section>

</div>


<!-- footer section -->
<section class="container-fluid footer_section">
    <p>
        Copyright &copy; 2023 All Rights Reserved By Nikolay Petkov
    </p>
</section>
<!-- footer section -->

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- end google map js -->
</body>

</html>