<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/head}"></head>

<body>
<div class="top_container">
    <!-- header section strats -->
    <nav th:replace="~{fragments/nav-bar}"></nav>
    <section class="hero_section ">
        <div class="hero-container container">
            <div class="hero_detail-box">
                <h3>
                    Добре дошли в <br>
                    играта с най-интересни
                    <br>въпроси
                </h3>
                <h1>
                    QUIZ KIDS
                </h1>
                <p>
                    Тук ще откриете най-интересните въпроси,
                    <br>
                    любопитни факти и много забавление.
                    <br>
                    За всички малчугани които могат да четат.
                    <br>
                    <br>
                    <span style="font-style: italic">Играта е преднзаначена за деца от
                        <br>6 до 9 години.</span>
                </p>
                <div class="hero_btn-continer">
                    <a href="" class="call_to-btn btn_white-border">
              <span>
                Contact
              </span>
                        <img src="images/right-arrow.png" alt="">
                    </a>
                </div>
            </div>
            <div class="hero_img-container">
                <div>
                    <img src="images/hero.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <section class="teacher_section layout_padding-bottom">
            <div class="container">
                <div class="teacher_container layout_padding2">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="images/tree-sunset.jpg" alt="Card image cap">
                            <div class="card-body">
                                <div class="d-flex justify-content-center">
                                    <a href="" class="call_to-btn  ">
                                            <span>
                                                Научи повече
                                            </span>
                                        <img src="images/right-arrow.png" alt="">
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="images/tree-sunset.jpg" alt="Card image cap">
                            <div class="card-body">
                                <div class="d-flex justify-content-center">
                                    <a href="" class="call_to-btn  ">
                                            <span>
                                                Научи повече
                                            </span>
                                        <img src="images/right-arrow.png" alt="">
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="card">
                            <img class="card-img-top" src="images/tree-sunset.jpg" alt="Card image cap">
                            <div class="card-body">
                                <div class="d-flex justify-content-center">
                                    <a href="" class="call_to-btn  ">
                                            <span>
                                                Научи повече
                                            </span>
                                        <img src="images/right-arrow.png" alt="">
                                    </a>
                                </div>

                            </div>

                        </div>

                        <div class="card">
                            <img class="card-img-top" src="images/tree-sunset.jpg" alt="Card image cap">
                            <div class="card-body">
                                <div class="d-flex justify-content-center">
                                    <a href="" class="call_to-btn  ">
                                            <span>
                                                Научи повече
                                            </span>
                                        <img src="images/right-arrow.png" alt="">
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </section>
    </section>
</div>

<footer th:replace="~{fragments/footer}"></footer>

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>

</html>