<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/head}">
<body class="top_container login">
<nav th:replace="~{fragments/nav-bar}"></nav>
    <div class="d-flex justify-content-end w-75">
        <div class="login-container  pt-xl-5">
            <div class="text-xl-center">
                <p class="font-weight-bold">Enter your Username and Password and log in.</p>
            </div>
            <!-- Pills content -->
            <div class="tab-content pt-lg-5">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form class="contact-form"
                            th:method="POST"
                          th:action="@{/users/login}">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="username">Username</label>
                            <input type="text"
                                   id="username"
                                   name="username"
                                   th:value="${username}"
                                   class="form-control"/>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input type="password"
                                   name="password"
                                   id="password" class="form-control"/>
                        </div>

                        <p th:if="${bad_credentials}"
                           class="errors alert alert-danger">
                            Invalid username or password.
                        </p>

                        <!-- 2 column grid layout -->
                        <div class="row mb-4">
                            <div class="col-md-6 d-flex justify-content-center">
                                <!-- Checkbox -->
                                <div class="form-check-inline mb-2 mb-md-0">
                                    <label class="form-check-label" for="rememberMe"> Запомни ме </label>
                                    <input id="rememberMe"
                                           name="rememberMe"
                                           class="form-check-input"
                                           type="checkbox"
                                           checked/>
                                </div>
                            </div>

<!--                            <div class="col-md-6 d-flex justify-content-center">-->
<!--                                &lt;!&ndash; Simple link &ndash;&gt;-->
<!--                                <a href="#!">Забравена парола?</a>-->
<!--                            </div>-->
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Вход</button>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>За регистрация <a th:href="@{/users/register}">ТУК!!!</a></p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div>
        <footer th:replace="~{fragments/footer}"></footer>
    </div>
</body>
</html>