<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/head}">
<body class="top_container login">
<nav th:replace="~{fragments/nav-bar}"></nav>

    <div class="d-flex justify-content-end w-75">
        <div class="register-container  pt-xl-5">
            <form th:action="@{/users/register}"
                  th:method="POST">
                <p class="text-xl-center font-weight-bold">Register:</p>
                <!-- Username input -->
                <div class="form-outline mb-1">
                    <label class="form-label" for="username">Username</label>
                    <input type="text"
                           id="username"
                           name="username"
                           placeholder="Username"
                           class="form-control"/>
                    <p class="errors alert alert-danger">
                        Username is required.
                    </p>
                </div>


                <!-- firstName input -->
                <div class="form-outline mb-1">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text"
                           id="firstName"
                           name="firstName"
                           placeholder="First name"
                           class="form-control"/>
                    <p class="errors alert alert-danger">
                        First name is required.
                    </p>
                </div>
                <!-- lastName input -->
                <div class="form-outline mb-1">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input type="text"
                           id="lastName"
                           name="LastName"
                           placeholder="Last name"
                           class="form-control"/>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-1">
                    <label class="form-label" for="email">Email</label>
                    <input type="email"
                           id="email"
                           name="email"
                           placeholder="Email"
                           class="form-control"/>
                    <p class="errors alert alert-danger">
                        Email is required.
                    </p>
                </div>

                <!-- Age input -->
                <div class="form-outline mb-1">
                    <label class="form-label" for="age">Age</label>
                    <input type="number"
                           id="age"
                           name="age"
                           placeholder="Age"
                           class="form-control"/>
                </div>

                <!-- City input -->
                <div class="form-outline mb-1">
                    <label class="form-label" for="city">City</label>
                    <input type="text"
                           id="city"
                           name="city"
                           placeholder="City"
                           class="form-control"/>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-1">
                    <label class="form-label" for="password">Password</label>
                    <input type="password"
                           id="password"
                           name="password"
                           placeholder="Password"
                           class="form-control"/>
                    <p class="errors alert alert-danger">
                        Password is required.
                    </p>
                </div>

                <!-- Confirm Password input -->
                <div class="form-outline mb-1">
                    <label class="form-label" for="confirmPassword">Confirm password</label>
                    <input type="password"
                           id="confirmPassword"
                           name="confirmPassword"
                           placeholder="Confirm Password"
                           class="form-control"/>
                    <p class="errors alert alert-danger">
                        Confirmation of password is required.
                    </p>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-3">Register</button>
            </form>
        </div>
    </div>
    <div th:replace="~{fragments/footer}">
    </div>
</body>
</html>